{% extends "base.html" %}
{% block content %}
<div>
  <a href="{{ url_for('new_author') }}" class="btn btn-primary"><i class="fa fa-plus fa-fw"></i> New Author</a>
</div>
<br/>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th class="col-sm-1">Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for author in authors %}
      <tr>
        <td>{{author.name}}</td>
        <td>{{author.email}}</td>
        <td class="col-sm-1">
          <form action="{{ url_for('delete_author', id=author.id) }}" method="POST" role="form">
            <button type="submit" class="btn btn-danger btn-xs" value="Delete"><i class="fa fa-trash-o fa-fw"></i> Delete</button>
          </form>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}