<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Guid</th>
      <th>Published</th>
      <th>Updated</th>
      <th>Link</th>
      <th>Feed</th>
      <th>Authors</th>
      <th "col-sm-1">Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for entry in entries %}
      <tr>
        <td>{{entry.title}}</td>
        <td>{{entry.guid}}</td>
        <td>{{entry.published}}</td>
        <td>{{entry.updated}}</td>
        <td>{{entry.link}}</td>
        <td>{{entry.feed}}</td>
        <td>{{entry.authors}}</td>
        <td "col-sm-1">
          <form action="{{ url_for('frontend.delete_entry', id=entry.id) }}" method="POST" role="form">
            <button type="submit" class="btn btn-danger btn-xs" value="Delete"><i class="fa fa-trash-o fa-fw"></i> Delete</button>
          </form>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>