{% extends "base.html" %}
{% block content %}
<a href="{{ url_for('new_feed') }}" class="btn btn-primary">New Feed</a>
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Delete</th>
      <th>Ping</th>
      <th>RSS</th>
      <th>Title</th>
      <th>Topic</th>
      <th>Hub</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {% for feed in feeds %}
      <tr> 
        <td>
          <form action="{{ url_for('delete_feed', id=feed.id) }}" method="POST" role="form">
              <input type="submit" class="btn btn-danger btn-xs" value="Delete"/>
          </form>
        </td>
        <td>
          <form action="{{ url_for('feed_ping', id=feed.id) }}" method="POST" role="form">
              <input type="submit" class="btn btn-primary btn-xs" value="Ping"/>
          </form>
        </td>
        <td><a href="{{ url_for('feed_rss', id=feed.id) }}" class="btn btn-primary btn-xs">RSS</a></td>
        <td>{{feed.title}}</td>
        <td><a href="{{ url_for('feed', id=feed.id) }}">{{feed.topic}}</a></td>
        <td>{{feed.hub}}</td>
        <td>{{feed.description}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}