{% extends "base.html" %}
{% block content %}
<p>Topic: {{feed.topic}}</p>
<p>Title: {{feed.title}}</p>
<p>Description: {{feed.description}}</p>
<a href="{{ url_for('feed_rss', id=feed.id) }}" class="btn btn-warning"><i class="fa fa-rss fa-fw"></i> RSS</a>
<a href="{{ url_for('new_entry') }}" class="btn btn-primary">New Entry</a>

{% include "entry_table.html" %}
{% endblock %}

{% block rss_discovery %}
<link rel="alternate" type="application/rss+xml" 
  title="{%if feed.title %}{{feed.title}}{% else %}{{feed.topic}}{% endif %}" 
  href="{{feed.get_rss_url()}}">
{% endblock %}