{% extends "base.html" %}
{% block content %}
  <div class="col-sm-2">
    <div>
      <button class="btn btn-primary"value="New Entry" href="{{ url_for('new_feed') }}" ><i class="fa fa-plus fa-fw"></i>  New Feed</button>
      
    </div>
    <br/>
    <div>
      <button class="btn btn-primary"value="New Entry" href="{{ url_for('new_entry') }}" ><i class="fa fa-plus fa-fw"></i>  New Entry</button>
      
    </div>
    <br/>
    <div>
      <button class="btn btn-primary"value="New Entry" href="{{ url_for('new_author') }}" ><i class="fa fa-plus fa-fw"></i>  New Author</button>
      
    </div>
  </div>
  <div class="col-sm-2">
    <div>Feeds: {{feed_count}}</div>
    <div>Entries: {{entry_count}}</div>
    <div>Authors: {{author_count}}</div>
  </div>
{% endblock %}