{% extends "base.html" %}

{% block content %}
<div class="page-header">
  <h1>Create a new Feed</h1>
</div>

<form class="form form-horizontal" action="{{ url_for('new_feed') }}" method="post" name="new_feed_form">
  {{ new_feed_form.csrf_token }}

  {{ wtf.horizontal_field(new_feed_form.title) }}
  {{ wtf.horizontal_field(new_feed_form.description) }}
  {{ wtf.horizontal_field(new_feed_form.hub) }}

  <div class="col-lg-offset-2">
    <input type="submit" value="Create Feed" class="btn btn-primary" />
  </div>
</form>
{% endblock %}