{% extends "base.html" %}

{% block content %}
<div class="page-header">
  <h1>Create a new Entry</h1>
</div>

<form class="form form-horizontal" action="{{ url_for('frontend.new_entry') }}" method="post" name="new_entry_form">
  {{ new_entry_form.csrf_token }}

  {{ wtf.horizontal_field(new_entry_form.title) }}
  {{ wtf.horizontal_field(new_entry_form.published) }}
  {{ wtf.horizontal_field(new_entry_form.updated) }}
  {{ wtf.horizontal_field(new_entry_form.content) }}
  {{ wtf.horizontal_field(new_entry_form.summary) }}
  {{ wtf.horizontal_field(new_entry_form.feed) }}
  {{ wtf.horizontal_field(new_entry_form.authors) }}
  {{ wtf.horizontal_field(new_entry_form.ping) }}

  <div class="col-lg-offset-2">
    <input type="submit" value="Create Entry" class="btn btn-primary" />
  </div>
</form>
{% endblock %}